@import "./inputs.css";
@import "./table.css";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin-top: 2rem;
}

h1 {
  font-size: 30px;
}

body {
  margin: 3rem auto;
  max-width: 1024px;
}

@media (max-width: 1024px) {
  body {
    padding: 1rem;
  }
}
