@import "./inputs.css";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

body {
  margin: auto;
  max-width: 900px;
}

@media (max-width: 1024px) {
  body {
    padding: 1rem;
  }
}
