table {
  width: 100%;
  border-collapse: collapse;

  margin-bottom: 2rem;
}

th,
td {
  text-align: right;
  padding: 4px;
  border-bottom: 1px solid grey;
}

th[scope="row"] {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 1024px) {
  table th,
  table td {
    font-size: 13px;
    line-height: 1.25;
  }
}
